DirectoryIndex index.php
DirectorySlash off
Options -Indexes -MultiViews +FollowSymLinks

# URL rewriting
RewriteEngine On
RewriteBase /
RewriteRule ^(.*)$ index.php?url=$1 [QSA]

# If-Modified-Since (if php is not installed as cgi then comment lines below)
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]